:root {
   --celeste:#54D3EF
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

h1, p{
font-family: 'Akshar', sans-serif;
font-family: 'Amethysta', serif;
text-align: center;

}
#titulo{
    background-color: var(--celeste);
    width: 80vw;
    margin: 29px auto 0 auto;
    border-radius: 51px;
    padding: 7px;
    line-height: 35px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    z-index:1;
}
#imgFondo{
    margin-top: 30%;
    width: 70vw;
      
}
#contieneFotoIndex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* PLAY */
audio{
    max-width: 120px;
    height: 20px;   
}
#zonaInput{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
}


#tituloPlay{
    width: 100vw;
    margin: 20px auto 0 auto;
    line-height: 35px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
}
#divButton{
    display:flex;
    justify-content: center;
}
#botonJugar{
    background-color: var(--celeste);
    margin: 29px auto 0 auto;
    border-radius: 51px;
    border: none;
    padding:  10px 20px;
    color: white;
    text-align: center;
}
#botonJugar:hover, #jugarNuevamente:hover{
    border: 1px solid black;
}
#botonJugar:active, #jugarNuevamente:active{
    font-size: larger;
}
#container-flex{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content:space-around;
    align-items:space-around;
}
.zona{
    display:flex;
    flex-direction: row;
}
#zonaNombres{
    justify-content:space-around;
    
}
#zonaManos{
    margin-top:20px;
    justify-content:space-between;
}
#cuadrado3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 10px auto;
    background-color: #D9D9D9; 
}
#puntuacionTabla{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    width: 200px;
    height: 500px;
}
.tablas{
    display: flex;
    flex-direction: column;
}
.jugadorNombre, #pResultado{
    font-family: 'Akshar', sans-serif;
    font-family: 'Amethysta', serif;
    line-height: 35px;
    letter-spacing: -0.03em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
#resultado{
    width: 80vw;
    height: 50px;  
    margin: auto;
    background-color: #D9D9D9;  
}
.nombrePunt{
    text-decoration: underline;
}
#jugarNuevamente{
    background-color: var(--celeste);
    margin: 29px auto 0 auto;
    
    text-align: center;
    padding: 7px;
    
    border-radius: 51px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #54D3EF
    
    
}
#divButton{
    color: white;
    border: none;
    border-radius: 51px;
}
